
body{
    background-color: #EFEFEF;
    margin: 0;
}
ol,ul,li{ list-style: none; }
a{text-decoration: none;}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
*{
    margin: 0;
    padding:0;
}
hr{
    height: 0;
    border:none;
    border-top:1px solid #DEDEDE;
}
[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition:all 0.5s ;
}
@keyframes slideUp {
    0%{
        transform:translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
/*nav*/
.topNavBar{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    transition: all 0.5s;
    z-index:1;
    color: #b7b7b7;
}
.topNavBar.sticky{
    background:#fff;
    padding:10px 0;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.23);
    color: #3d4451;
}
.topNavBar-inner{
    padding: 0 16px;
}
.topNavBar nav {
    padding-top: 4px;
}
.topNavBar nav ul{
    margin: 0;
    padding: 0;
}
.topNavBar nav >ul > li {
    float: left;
    margin:0 17px;
    position:relative;
}
.topNavBar nav > ul > li > a {
    font-size: 12px;
    color: inherit;
    font-weight: bold;
    border-top:0;
    padding: 5px 0;
    display: block;
    position:relative;
}
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after{
    content:'';
    display:ruby;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:#e06567;
    height:3px;
    animation: menuSlide 0.5s;
}
@keyframes menuSlide{
    0%{  width: 0;  }
    100%{  width: 100%;  }
}

.topNavBar  .submenu{
    display: none;
    position:absolute;
    right:0;
    margin-top:3px;
    top:100%;
    background: #FFF;
    color:#3d4451;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

.topNavBar li.active> .submenu{
    display:block;
    animation: submenuSlide 0.3s;

}
@keyframes submenuSlide {
    0%{
        margin-right:100%;
    }
    100%{
        margin-right:0;
    }
}
.topNavBar .submenu > li {
    white-space: nowrap;
    padding: 5px 10px;
}

/*logo*/
.topNavBar .logo{
    font-size: 24px;
    font-family: "Arial Black";

}
.topNavBar .logo .rs{
    color: #e6686a;
    margin-right: 4px;
}
.topNavBar .logo .card{
    color: #9A9DA2;
}

/*banner*/
.banner{
    height: 515px;
    background-position: center center;
    background-size:cover;
}
/*main*/
main{
    margin-top:-340px;
}
.userCard{
    max-width: 940px;
    margin: 0 auto;
    background:#fff;
    box-shadow:0 1px 5px 0 rgba(0,0,0,0.5) ;
}
.welcome{
    background-color:#E6686A;
    color: #fff;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin:10px 0;
    border-radius: 3px;
}
.userCard .welcome .triangle{
    display: block;
    border:10px solid transparent;
    width:0;
    border-left-color: #E6686A;
    border-top-width:0;
    position: absolute;
    left: 4px;
    top:100%;
}
.userCard .picture{
    float: left;
}
.userCard .text{
    float: left;
    margin-left: 65px;
    width:470px;
}
.userCard .text h1{
    margin-top: 18px;
}
.userCard .text p{
    font-weight: bold;
}
.userCard .text hr{
    margin:20px 0;
}
.i-card{
    padding: 50px;
}
.userCard dd,.userCard dt{
    float: left;
    padding: 5px 0;
}
.userCard dt{
    width: 30%;
    font-weight: bold;
}
.userCard dd{
    width: 70%;
    color: #9da0a7;
}
.userCard footer.media{
    background-color: #e06567;
    text-align: center;
}
.userCard footer.media a{
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    line-height: 30px;
    padding: 10px 0;
    margin: 20px;
}
.userCard footer.media a:hover{
    background:#cf5d5f;
}

.userCard svg{
    width: 30px;
    height: 30px;
    fill: #fff;
    vertical-align: top;
}
.downloadResume{
    font-size:14px;
    line-height: 16px;
    padding:21px 55px;
    border:1px solid #cdcfd1;
    display: inline-block;
    color: #3d4451;
    background-color: #EFEFEF;
    border-radius:3px;
    font-weight: bold;
    margin: 32px 0;
}
.downloadResume-box{
    text-align: center;
}
.downloadResume:hover{
    box-shadow:0 4px 13px 0 rgba(0,0,0,0.5);
    transition: box-shadow 0.3s;
}
.selfIntro{
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    font-family: "黑体";
}

/*容器*/
.workShow,.skill{
    max-width: 940px;
    margin: 60px auto 0;
}

.workShow h2,.skill h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
.skill ol{
    background-color: #FFF;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
    padding: 42px 50px 15px;
    margin-top: 10px;
}
.skill ol li{
    width: 50%;
    box-sizing: border-box;
    padding:0 40px;

}
.skill ol li:nth-child(odd){
    float: left;
}
.skill ol li:nth-child(even){
    float: right;
}
.skill .proBar{
    height: 5px;
    background-color:#fae1e1;
    border-radius: 3px;
    margin:4px 0 40px;
    overflow: hidden;
}
.skill .pro{
    height: 100%;
    background-color: #cf5d5f;
    width: 70%;
    border-radius: 3px;
    transform:translateX(0);
    transition:all 1s;
}
section.skill.offset .pro{
    transform:translateX(-100%);
}


.workShow{
    text-align: center;
    margin-bottom: 100px;
}
.workShow nav{
    text-align: center;
    display: inline-block;
    margin-top: 32px;
}
.workShow ul{
    display: inline-block;
    vertical-align: top;
    margin:0 auto;
}
.workShow ul li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
.workShow ul li:first-child{
    margin-left: 0;
}
.workShow nav .bar{
    height: 5px;
    background: #fff;
    margin: 10px 0;
    border-radius: 3px;
}
.workShow nav .bar-inner{
    height: 100%;
    background: #e6686a;
    border-radius: 3px;
    transition: all 0.5s;
}
.workShow nav .bar.state-1 .bar-inner{
    margin-left:0;
    width: 50px;
}

.workShow nav .bar.state-2 .bar-inner{
    margin-left:65px;
    width: 96px;
}

.workShow nav .bar.state-3 .bar-inner{
    margin-left:186px;
    width: 50px;
}
.jobs{
    position: relative;
}
.jobs>div{
    position:absolute;
}
